html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media screen and (min-width: 800px) and (max-width: 1196px) {
  body {
    background-color: blue;
  }
}