html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1192px) {

  #bear { 
    /* width: 800px; */
   left:800px;
  }
}