html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  bottom: 100px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width:1000px){
  #ostrich{
    position: absolute;
    bottom: 300px;
    right: 200px;
  }
}